<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1090708902004-t3793u7f572u7l4u72t906du7ncqm621.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090708902004-t3793u7f572u7l4u72t906du7ncqm621</string>
	<key>API_KEY</key>
	<string>AIzaSyA7j6dJo0DXHCAGUFKF8X1SmKzR-jbXTkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1090708902004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.coderia.iuvare-ios</string>
	<key>PROJECT_ID</key>
	<string>iuvare-app-f7557</string>
	<key>STORAGE_BUCKET</key>
	<string>iuvare-app-f7557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090708902004:ios:87ca5d3295955adc</string>
	<key>DATABASE_URL</key>
	<string>https://iuvare-app-f7557.firebaseio.com</string>
</dict>
</plist>